*{
  box-sizing: border-box;
}

.Container{
  height: 90vh;
  width: 50vw;
  position: absolute;
  margin: 2rem;
  background-color: black;
}

img{
  height: 100%;
  width: 100%;
  position: absolute;
}

.NoDisplay{
  display: none;
}

.Detail{
  width: 20vw;
  font-weight: 500;
  font-size: large;
  margin-left: 60vw;
  margin-top: 35px;
  top: 0;
  right: 0;
}

.Button{
  margin-top: 2rem;
  margin-left: 45vw;
  padding: 0.7rem 2.2rem;
  background-color: black;
  border: 2px transparent;
  border-radius: 5px;
  color: white;
  font-size: medium;
  transition: all ease 0.3s;
}

.Button:hover{
  box-shadow: -1px 2px 15px black;
  border: white;
}