*{
  box-sizing: border-box;
}

.Container{
  height: 90vh;
  width: 50vw;
  background-color: cadetblue;
  position: relative;
}

img{
  height: 100%;
  width: 100%;
  position: absolute;
}

.NoDisplay{
  display: none;
}